@import url("https://use.typekit.net/ava1qta.css");


/* CSS HEX */
/* --jasper: #d5573bff;
--rose-taupe: #885053ff;
--glaucous: #777da7ff;
--cambridge-blue: #94c9a9ff;
--tea-green: #c6ecaeff; */

body {
    box-sizing: border-box;
    background-color: #FFF68F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: tt-commons-pro, sans-serif;
    font-weight: 400;
    font-style: normal;

}

.calc_app {
    aspect-ratio: 2.2/4;
    height: 66%;
    background-color: #FFF68F;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 2vmax;
    border: 1px solid #333533;
}

.headline {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    font-family: tt-commons-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
}

#hl1 {
    color: #202020;
}

#hl2 {
    color: #202020;
}

#hl3 {
    color: #202020;
}

.result {
    grid-row: 1;
    background-color: #FFF68F;
    color: #202020;
    display: flex;
    align-items: end;
    justify-content: end;
    border-top-left-radius: 2vmax 2vmax;
    border-top-right-radius: 2vmax 2vmax;
}

.result div {
    text-align: right;
    padding-right: 4%;
}

.result p {
    font-weight: 300;
    font-style: normal;
    font-size: 4em;
}

.input {
    padding: 3%;
    grid-row: 2 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
    align-items: center;
    justify-items: center;
}

.input_operations_button,
.input_numbers_button {
    font-style: normal;
    font-weight: 200;
    font-style: normal;
    border: none;
    color: #202020;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    border-radius: 100%;
    display: flex;
    width: 85%;
    aspect-ratio: 1.0/1.0;
    justify-content: center;
    align-items: center;
}

.input_operations_button:focus,
.input_numbers_button:focus {
    color: #202020;
    outline: none;
    border: 1px solid #333533;
}

.input_operations_button {
    background-color: #FFF68F;
    border: 1px solid #333533;
}

.input_numbers_button {
    /* background-color: #D5573B; */
    background-color: #FFF68F;
    border: 1px solid #333533;
}

.input_operations_button:hover {
    background-color: #FFFFFF;
    color: #202020;
}

.input_numbers_button:hover {
    background-color: #FFFFFF;
    color: #202020;
}

#button_7 {
    grid-area: 2/1/2/2;
}

#button_8 {
    grid-area: 2/2/2/3;
}

#button_9 {
    grid-area: 2/3/2/4;
}

#button_4 {
    grid-area: 3/1/3/2;
}

#button_5 {
    grid-area: 3/2/3/3;
}

#button_6 {
    grid-area: 3/3/3/4;
}

#button_1 {
    grid-area: 4/1/4/2;
}

#button_2 {
    grid-area: 4/2/4/3;
}

#button_3 {
    grid-area: 4/3/4/4;
}

#button_0 {
    grid-area: 5/1/5/2;
}

#button_comma {
    grid-area: 5/3/5/4;
}

#button_plus {
    grid-area: 1/4/1/4;
}

#button_minus {
    grid-area: 2/4/2/4;
}

#button_mul {
    grid-area: 3/4/3/4;
}

#button_div {
    grid-area: 4/4/4/4;
}

#button_equ {
    grid-area: 5/4/5/4;
}

#button_free1 {
    grid-area: 1/1/1/2;
    background-color: #FFFFFF;
}

#button_free2 {
    grid-area: 1/2/1/3;
}

#button_free3 {
    grid-area: 1/3/1/4;
}
